nav{
    background: rgba(0, 0 , 0 , 0.3);
    max-width: max-content;
    display: block;
    padding: .7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 2rem;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
}

nav a{
    background: transparent;
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.5rem;
}

nav a:hover{
    background: var(--color-white);
    color: var(--color-bg);
}

nav a.active{
    background: var(--color-white);
    color: var(--color-bg);
}